footer > .container {
    padding-left: 0;
    padding-right: 0;
}

header > .container {
    padding-left: 0;
    padding-right: 0;
}

/*
There shouldnt be nested containers but there is and don't feel like finding
every instance;
*/
.container {
    padding-left: 0;
    padding-right: 0;
}